.page {
  color: rgb(255 255 255 / 0.8);
  background-color: #000;
  background-image: linear-gradient(#000, #3d5c72);
  block-size: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 25px auto 25px;
  align-items: center;
  gap: 5px;
  padding-block: 20px;
}

.logo {
  inline-size: 100%;
}

.box {
  fill: rgb(255 255 255 / .8);
}

.logo__title {
  font-size: 18px;
  letter-spacing: 1px;
}

.button {
  padding: 0;
  inline-size: 100%;
  border: transparent;
  background-color: transparent;
}

.burger-button {
  inline-size: 100%;
}

.burger {
  stroke: rgb(255 255 255 / .8);
}

.main {
  display: grid;
  gap: 30px;
}

.cover {
  position: relative;
  display: grid;
  gap: 20px;
  padding-block: 10px;
  padding-inline: clamp(0.625rem, -5.757rem + 27.23vw, 18.75rem);
  background-image: url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inline-size: calc(100% + 2 * (clamp(0.625rem, -5.757rem + 27.23vw, 18.75rem)));
  right: clamp(0.625rem, -5.757rem + 27.23vw, 18.75rem);
}

.cover::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background-color: rgb(255 255 255 / .7);
}

.cover__text {
  position: relative;
  z-index: 1;
  display: block;
  line-height: 1.35;
  font-size: 18px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: rgb(0 0 0 / .9);
}

.chart {
  display: grid;
  gap: 10px;
}

.chart__title {
  border-block-end: 1px solid rgb(255 255 255 / 0.3);
  padding-block-end: 5px;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.chart__columns-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: end;
  border-block-end: 1px solid rgb(255 255 255 / 0.3);
}

.chart__columns-list-item {
  padding-inline: 25%;
  padding-block-start: 10px;
  text-align: center;
}

.chart__column {
  border-inline-start: 1px solid rgb(255 255 255 / 0.3);
  border-inline-end: 1px solid rgb(255 255 255 / 0.3);
  border-block-start: 1px solid rgb(255 255 255 / 0.3);
  background-color: rgb(255 255 255 / 0.1);
  block-size: 100px;
}

.nta-k {
  block-size: calc(25 * 1px);
}

.nta {
  block-size: calc(0 * 1px);
}

.apr-2 {
  block-size: calc(60 * 1px);
}

.apr-3 {
  block-size: calc(90 * 1px);
}

.apr-4 {
  block-size: calc(50 * 1px);
}

.apr-5 {
  block-size: calc(55 * 1px);
}

.apr-8 {
  block-size: calc(30 * 1px);
}

.apr-9 {
  block-size: calc(60 * 1px);
}

.tup-11 {
  block-size: calc(0 * 1px);
}

.chart__titles-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
}

.chart__titles-list-item {
  rotate: -45deg;
}

.title__text {
  font-size: 12px;
}
