.page {
  color: rgb(255 255 255 / 0.8);
  background-color: #000;
  background-image: linear-gradient(#000, #3d5c72);

}

.header {
  display: grid;
  grid-template-columns: 25px auto 25px;
  align-items: center;
  gap: 5px;
  padding-block: 20px;
}

.logo {
  inline-size: 100%;
}

.box {
  fill: rgb(255 255 255 / .8);
}

.logo__title {
  font-size: 18px;
  letter-spacing: 1px;
}

.button {
  border: transparent;
  padding: 0;
  background-color: transparent;
  inline-size: 100%;
}

.burger-button {
  inline-size: 100%;
}

.burger {
  stroke: rgb(255 255 255 / .8);
}

.main {
  display: grid;
  gap: 30px;
}

.cover {
  position: relative;
  right: clamp(0.625rem, -5.757rem + 27.23vw, 18.75rem);
  display: grid;
  gap: 20px;
  padding-inline: clamp(0.625rem, -5.757rem + 27.23vw, 18.75rem);
  padding-block: 10px;
  background-image: url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inline-size: calc(100% + 2 * (clamp(0.625rem, -5.757rem + 27.23vw, 18.75rem)));
}

.cover::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  
  background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(255 255 255 / .3));
}

.cover__text {
  position: relative;
  z-index: 1;
  display: block;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content {
  display: grid;
  gap: 40px;
}

.chart {
  position: relative;
  display: grid;
  gap: 10px;
  padding-block-start: 10px;
  padding-inline: 10px;
  padding-block-end: 20px;
  border: 1px solid rgb(255 255 255 / .3);
}

.chart__remainder {
  background-color: rgba(255, 197, 197, 0.3);
}

.chart__pack {
  background-color: rgba(238, 255, 245, 0.3);
}

.chart__railway {
  background-color: rgba(41, 42, 43, 0.3);
}

.chart__title {
  padding-block-end: 5px;
  font-size: 18px;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 1px;
}

.chart__columns-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-items: end;
  border-block-end: 1px solid rgb(255 255 255 / 0.3);
  min-block-size: 100px;
}

.chart__columns-list-item {
  padding-inline: 25%;
  padding-block-start: 10px;
  text-align: center;
}

.chart__column {
  border-inline-start: 1px solid rgb(255 255 255 / 0.3);
  border-inline-end: 1px solid rgb(255 255 255 / 0.3);
  border-block-start: 1px solid rgb(255 255 255 / 0.3);
  background-color: rgb(255 255 255 / 0.1);
  block-size: 100px;
}

.nta-k {
  block-size: calc(25 * 1px);
}

.nta {
  block-size: calc(0 * 1px);
}

.apr-2 {
  block-size: calc(60 * 1px);
}

.apr-3 {
  block-size: calc(90 * 1px);
}

.apr-4 {
  block-size: calc(50 * 1px);
}

.apr-5 {
  block-size: calc(55 * 1px);
}

.apr-8 {
  block-size: calc(30 * 1px);
}

.apr-9 {
  block-size: calc(60 * 1px);
}

.tup-11 {
  block-size: calc(0 * 1px);
}

.chart__titles-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-items: center;
}

.text__rotate {
  rotate: -45deg;
}

.title__text {
  font-size: 12px;
}

.tup-10-1 {
  block-size: calc(17 * 3px);
}

.tup-10-2 {
  block-size: calc(12 * 3px);
}

.tup-11 {
  block-size: calc(0 * 3px);
}

.tup-12 {
  block-size: calc(7 * 3px);
}

.footer {
  padding-block-start: 50px;
  text-align: center;
}

.footer__text {
  font-size: 12px;
}